<div class="py-5 d-flex justify-content-center align-items-center" data-controller="apply-filter">
  <div>
    <h1 class="fs-3">Applying Filters</h1>
    <div data-apply-filter-target="imageContainer"></div>
    <%= image_tag @post.photo.variant(resize_to_limit: Post::RESIZE_DIMENSIONS, crop: [@post.x_offset, @post.y_offset, @post.width, @post.height]), data: { "apply-filter-target": "hiddenImage", filter: "" }, class: "mb-5 d-none" %>
    <%= image_tag @post.photo.variant(resize_to_limit: Post::RESIZE_DIMENSIONS, crop: [@post.x_offset, @post.y_offset, @post.width, @post.height]), data: { "apply-filter-target": "image", filter: "" }, class: "mb-5" %>

    <div class="d-flex align-content-around flex-wrap mb-5">
      <% PhotoFilter::FILTERS.each do |filter| %>
        <%= button_tag filter, data: { "apply-filter-target": "filterButton", "action": "apply-filter#applyFilter", "filter-name": filter }, class: "btn btn-primary insta-primary me-2 mb-2" %>
      <% end %>
    </div>
    <%= form_with model: @post, data: { "apply-filter-target": "form" } do |f| %>
      <%= f.hidden_field :filter_name, data: { "apply-filter-target": "filterName" } %>
      <%= f.hidden_field :status, value: "final_draft" %>
      <%= f.submit "Apply filter", class: "btn btn-primary insta-primary"  %>
    <% end %>
  </div>
</div>