<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("instagram_favicon.png") %>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <%= render "layouts/nav_sidebar" %>
      </div>
      <div class="col-7">
        <%= yield %>
      </div>
      <div class="col-3">
        3 of 3
      </div>
    </div>
    <%= render "layouts/create_post_modal" %>
  </body>
</html>
